:root {
  --primery-color: #757575;
  --secondary-title-color: #212121;
  --hover-main-color: #2196f3;
  --main-white-color: #ffffff;
  --main-bg-color: #2f303a;
}
/* html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
} */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--primery-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* ----------display NONE for margin and padding */

.section-title.hidden,
.portfolio-title.hidden {
  visibility: collapse;
  margin: 0;
  font-size: 0;
}

/* --------CONTAINER---------- */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* --------Buttons */
.btn {
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.hero-btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--main-white-color);
  background-color: var(--hover-main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* margin-bottom: 200px; */
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--secondary-title-color);
  background-color: var(--main-white-color);
}

/* ----------------Header---------- */

.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: 700;
  line-height: 1.19;
  margin-right: 93px;
  text-decoration: none;
}
.logo-part {
  color: var(--hover-main-color);
}
.logo-bot {
  color: var(--main-white-color);
}
.nav-items {
  display: flex;
}
.nav-items > .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link,
.header-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link.current {
  color: var(--hover-main-color);
}
.header-link:not(:last-child) {
  margin-right: 50px;
}
.nav-link:hover,
.nav-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--hover-main-color);
}

.header-link {
  color: var(--primery-color);
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-contacts {
  margin-left: auto;
}
/* --------HERO---------- */

.hero {
  /* ставлю бекграунд - иначе не видно тайтла с белым цветом */
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* ----------Section titles------ */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

/* --------Features------ */

.features-subtitle {
  text-transform: uppercase;
  font-size: inherit;
  line-height: 1.14;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-list > .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.features-list > .item:last-child {
  margin-right: 0px;
}

/* ----------EXAMPLES----------- */

.examples-list {
  display: flex;
}
.examples-list > .item:not(:last-child) {
  margin-right: 30px;
}
.examples-img {
  display: block;
}
.section.examples {
  padding-top: 0;
}
/* ----------OUR TEAM--------- */
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
.team-info {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-img {
  display: block;
  margin-bottom: 30px;
}
.team-list {
  display: flex;
}
.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

/* -----------FOOTER--------- */
.footer {
  background-color: var(--main-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.address-city {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  color: var(--main-white-color);
}
.address-contact {
  display: inline-block;
  margin-top: 9px;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* ----------PORTFOLIO PAGE--------- */

/* ----------Filter---------- */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

/*-------------FILTER BTN-------  */

.filter-btn {
  line-height: 1.63;
  font-weight: 500;
  color: var(--secondary-title-color);
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  padding: 6px 22px;
  margin-right: 8px;
}
.filter-btn:focus,
.filter-btn:hover {
  color: var(--main-white-color);
  background-color: var(--hover-main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------PORTFOLIO---------- */

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio-link {
  text-decoration: none;
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-title-color);
  margin-left: 24px;
}

.portfolio-content {
  font-size: 16px;
  color: var(--primery-color);
  line-height: 1.88;
  margin-left: 24px;
}
.address-city:hover,
.address-city:focus,
.address-contact:hover,
.address-contact:focus {
  color: var(--hover-main-color);
}
.filter-list > .item {
  width: 370px;
  /* width: calc(100% / 4); */
  margin: 15px;
  border: 1px solid #eeeeee;
  padding-bottom: 10px;
}
